#barra-newsletter {
	display: none;
}
#footer-creditos {
	background-image: none;
	padding-bottom: 20px;
}
.margin-footer {
	margin-bottom: 100px;
}
#slider-home .pull-left {
    margin-top: 0;
}
.slick-slider {
	margin-top: 20px;
}
.bg-slider {
	background-size: auto !important;
	background-position: center 70px !important;
	height: 389px !important;
}
body.logged-in .bg-slider {
	background-position: center 100px !important;
}
@media (max-width: 768px) {
}
#slider-home .container {
	padding-bottom: 10px;
}
body.logged-in #slider-home {
	margin-top: 60px;
}
#slider-home {
	margin-top: 60px;
}
#infos-home {
	padding-top: 20px;
}
.wrap-each .permalink {
	font-size: 1.3em;
	padding: 12px;
}